{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}


{% block content %}
<h1>{% trans "New Password" %}</h1>
<P>{% trans 'Write and repeat your new password.' %}</P>
<form method="post" action="{% url 'rest_password_reset_confirm' %}">
{% csrf_token %}
    <input name="new_password1">
    <input name="new_password2">
    <input name="token" value="{{ token }}" hidden>
    <input name="uid" value="{{ uidb64 }}" hidden>
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% endblock %}
